@model IEnumerable<eshopping.Models.user_details>


@{
    ViewBag.Title = "Index";
}

<h2 style="font-family:Oswald">User List</h2>


<p style="color: red;font-family: Arial; font-size: xx-large">@Html.Raw(TempData["DeleteMessage"])</p>
@*@Html.Raw(TempData["DeleteMessage"])*@


<p>
    @Html.ActionLink("Create New Account", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Confirmpassword)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Confirmpassword)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.UserId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
            </td>
        </tr>
        }

</table>
